@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Luckiest+Guy');

.fjalla-one-font{
    font-family: 'Fjalla One', sans-serif;
}
html {
    height: 100%;
}

body {
    height: 100%;
    background: #4b6cb7; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #182848, #4b6cb7); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#logo{
    font-family: 'Luckiest Guy', cursive;
}
#logo h2{
    font-size:6em;
}
#logo h5{
    font-size:2em;
}
.fill-height {
    min-height: 100%;
    height: 100%;
}

.text-white{
    color:white;
}

.alert-warning a{
    color: #856404;
}
.bottom-boxes{
    font-size:4.3em;
    line-height: 1.1em;
}
hr.sweet-line {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}
.step{
    position: absolute;
    display: block;
    left: 0px;
    top: 0px;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    border-right:1px solid;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}
[v-cloak] { display: none; }